:root{
    --color-text:#fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;
    --font-robot:"Roboto";
}
/* --color-primary:#0000008a;
    --color-secondary:rgba(0, 0, 0, 0.842);
    --color-dark:rgba(0, 0, 0, 0.829);
    --color-bg:black;
    --font-robot:"Roboto";*/